# For Render Deployment
DATABASE_URL="postgresql://postgres.wzjnwhcchhkesdoztzou.supabase.co:6543/postgres?sslmode=require"
NEXTAUTH_SECRET="dc2f2498c2d1dcc6795bb856919028218d296ea17a3c153b96710dd24fa8f8de"
NEXTAUTH_URL="https://reseller-portal3.onrender.com"
NODE_ENV="production"

# Alternative direct connection (if pooler fails):
# DATABASE_URL="postgresql://postgres:h7dOR9638yVxsaAn@db.wzjnwhcchhkesdoztzou.supabase.co:5432/postgres?sslmode=require"
